<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Assignment" thread-count="1"
       parallel="tests" verbose="1">

    <test name="Facebook Test" parallel="methods"
          thread-count="1">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.assignment.tests.FacebookTest"/>
        </classes>
    </test>

    <test name="Insurance Test - chrome" parallel="methods"
          thread-count="1">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.assignment.tests.InsuranceTest"/>
        </classes>
    </test>

</suite>
